<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <div class = "task-list">
        <button type="button" onclick="setNewTaskOrder()"> Save</button>
        <ul id="task-list">
            {% for task in object_list %}
                <li draggable="true" data-rank="{{ task.rank }}">
                    <strong>{{ task.rank }}.</strong> {{ task.description }}
                    {% if task.category == task.TaskCategory.IMPORTANT %}
                        <span class="task-icon" title="Important" style="float:right; font-size:1.2rem;">💼</span>
                    {% elif task.category == task.TaskCategory.FUN %}
                        <span class="task-icon" title="Fun" style="float:right; font-size:1.2rem;">🙂</span>
                    {% elif task.category == task.TaskCategory.SMALL %}
                        <span class="task-icon" title="Small" style="float:right; font-size:1.2rem;">🤏</span>
                    {% endif %}
                    <span style="color: gray;">({{ task.status }})</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="{% static 'tasks/js/task-list.js' %}"></script>
</body>
</html>