# This is to mark the correct root folder for your IDE. This can be phased out when
# you set up your IDE for full devcontainer setup.
PYTHONPATH=./home_base

# Local dev-database container.
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=home_base
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres